.addbutton{
    font-size: 2rem;
    border-radius: 50px;
    color:rgb(56, 43, 241);
    padding: 0.25rem;
    font-weight: 400 !important;
    cursor:pointer;
}
.product_card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
}
.product_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 175px;
    align-items: center;
}
.product_info h3{
    font-size: 1rem;
    font-weight: 600 !important;
    text-align: center;
}
.product_info span{
    font-size:0.75rem;
    font-weight: 300 !important;
    text-align: center;

}
.price{
    font-weight: 600 !important;
    padding-left: 10px;
}
.product_item{
    width: 250px;
    height: 300px;
    border :none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    
    transition: .2s;
    margin-bottom: 10px;

}